{% extends "layout.html" %}
{% block title %}Lista de usuarios{% endblock title %}
{% block body %}
    <script>
        var personas = {{ users_to_json|safe }};
    </script>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="formContainer">
                {% for user in users %}
                <form id="usersContainerForm{{user.id}}" method='POST'>
                    {% csrf_token %}
                    <tr userId="{{user.id}}">
                        <td>
                            <input id="name{{ user.id }}"  name="name" type="text" value="{{ user.name }}" disabled>
                        </td>
                        <td>
                            <input id="last_name{{ user.id }}" name="last_name" type="text" value="{{ user.last_name }}" disabled>
                        </td>
               
                        <td>
                            <input id="email{{ user.id }}" name="email" type="email" value="{{ user.email }}" disabled>
                        </td>
                        <td>
                            <input id="address{{ user.id }}" name="address" type="text" value="{{ user.address }}" disabled>
                        </td>
                        <td>
                            <input id="phone{{ user.id }}" name="phone" type="number" value="{{ user.phone }}" disabled>
                        </td>
                        <td class="actions">
                            <button onclick="editFunction(event, {{ user.id }})" class="editBtn" userId="{{ user.id }}" type="button"><i class="fas fa-edit"></i></button>
                            <button onclick="saveFunction(event, {{ user.id }})" class="saveBtn" userId="{{ user.id }}" type="button"><i class="fas fa-save"></i></button>
                            <button onclick="deleteFunction({{ user.id }})" class="deleteBtn" userId="{{ user.id }}" type="button"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}