<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{% block title %}{% endblock title %}</title>
    <link rel='stylesheet' href='{% static "css/styles.css" %}?v={{ STATIC_VERSION4 }}'>
    <script src="https://kit.fontawesome.com/d85944cffc.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1 class="logo" >MEDICENTER</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i>Añadir médico</a></li>
                <li><a href="{% url 'update' %}"><i class="fa-solid fa-user-pen"></i>Actualizar médico</a></li>
                <li><a href="{% url 'users_list' %}"><i class="fa-solid fa-users"></i>Lista de médicos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>
</body>
</html>