<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{% block title %}{% endblock title %}</title>
    <link rel='stylesheet' href='{% static "css/styles.css" %}?v={{ STATIC_VERSION5 }}'>
    <script src="https://kit.fontawesome.com/d85944cffc.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1 class="logo" >MEDICENTER</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i>Añadir médico</a></li>
                {% comment %} <li><a href="{% url 'update' %}"><i class="fa-solid fa-user-pen"></i>Actualizar/Editar médico</a></li> {% endcomment %}
                <li><a href="{% url 'users_list' %}"><i class="fa-solid fa-users"></i>Lista de médicos</a></li>
            </ul>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <ul class="message-box-error">
                        <li>
                            <h3 class="font-weight-light message-text">{{message}}</h3>
                        </li>
                    </ul>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <ul class="message-box-success">
                        <li>
                            <h3 class="font-weight-light message-text">{{message}}</h3>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <ul class="message-box-success">
                <li>
                    <h3 class="font-weight-light message-text">Usuario modificado exitosamente!</h3>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>